<h1>Surfistas que estão competindo a onda:</h1>
<!--campo para o 1 surfista -->
<form action="/nota/parciais" method="POST">
  <div class="row">
    <div class="col-sm-6">
      <div class="card mt-2">
        <div class="card-body">
          {{#with surf1}}
          <h3 class="card-title">{{dataValues.nome}}</h3>
          <p class="card-text">{{dataValues.país}}</p>
          {{/with}}
          
            {{#with compet1}}<input type="number" name="ID_onda1" value="{{dataValues.ondaID}}" readonly
              class="visually-hidden">
            <input type="number" name="bateriaID" value="{{dataValues.Bateria}}" readonly
              class="visually-hidden">{{/with}}
            <div class="col-auto">
              <h5 class="card-title">Notas: </h5>
            </div>
            <div class="row mt-2">
              <div class="col-auto">
                <input class="form-control" type="number" name="notaParcial1" {{#with parciais1}}
                  placeholder="{{dataValues.notaParcial1}}" disabled {{else}} placeholder="Nota parcial 1" {{/with}}
                  required>
              </div>
              <div class="col-auto">
                <button class="visually-hidden"></button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-auto">
                <input class="form-control" type="number" name="notaParcial2" {{#with parciais1}}
                  placeholder="{{dataValues.notaParcial2}}" disabled {{else}} placeholder="Nota parcial 2" {{/with}}
                  required>
              </div>
              <div class="col-auto">
                <button  class="visually-hidden">Confirmar notas</button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-auto">
                <input class="form-control" type="number" name="notaParcial3" {{#with parciais1}}
                  placeholder="{{dataValues.notaParcial3}}" disabled {{else}} placeholder="Nota parcial 3" {{/with}}
                  required>
              </div>
              <div class="col-auto">
                <button class="visually-hidden"></button>
              </div>
            </div>
          
        </div>
      </div>
    </div>
    <!---->

    <!--campo para o 2 surfista -->
    <div class="col-sm-6">
      <div class="card mt-2">
        <div class="card-body">
          {{#with surf2}}
          <h3 class="card-title">{{dataValues.nome}}</h3>
          <p class="card-text">{{dataValues.país}}</p>
          {{/with}}
          
            {{#with compet2}}<input type="number" name="ID_onda2" value="{{dataValues.ondaID}}" readonly
              class="visually-hidden">
            <input type="number" name="bateriaID" value="{{dataValues.Bateria}}" readonly
              class="visually-hidden">{{/with}}
            <div class="col-auto">
              <h5 class="card-title">Notas: </h5>
            </div>
            <div class="row mt-2">
              <div class="col-auto">
                <input class="form-control" type="number" name="notaParcial4" {{#with parciais2}}
                  placeholder="{{dataValues.notaParcial1}}" disabled {{else}} placeholder="Nota parcial 4"
                  {{/with}}required>
              </div>
              <div class="col-auto">
                <button class="visually-hidden"></button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-auto">
                <input class="form-control" type="number" name="notaParcial5" {{#with parciais2}}
                  placeholder="{{dataValues.notaParcial2}}" disabled {{else}} placeholder="Nota parcial 5"
                  {{/with}}required>
              </div>
              <div class="col-auto ">
                <button class="visually-hidden">Confirmar notas</button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-auto">
                <input class="form-control" type="number" name="notaParcial6" {{#with parciais2}}
                  placeholder="{{dataValues.notaParcial3}}" disabled {{else}} placeholder="Nota parcial 6"
                  {{/with}}required>
              </div>
              <div class="col-auto">
                <button class="visually-hidden"></button>
              </div>
            </div>
          
        </div>
      </div>
    </div>
    <!---->
  </div>

  <div class="col">
    <div class="card mt-2">
      <div class="card-body ">
        <p class="card-text">Após escrever as notas, confirme para que possa ser feita a simulação.</p>
        <p class="card-text"> Você pode inserir novas notas pegando outra onda.</p>
        <p class="card-text">Para ver o vencedor finalize a bateria.</p>
        <a
          href="/onda/vencedor/{{#with surf1}}{{dataValues.numero}}{{/with}}/{{#with surf2}}{{dataValues.numero}}{{/with}}/{{#with compet1}}{{dataValues.Bateria}}{{/with}}"><button
            type="button" class="btn btn-primary">Finalizar bateria</button></a>

        {{#with compet1}}
        <a href="/onda/disputa/{{dataValues.Bateria}}"><button type="button" class="btn btn-primary">Pegar uma
            onda</button></a>
        {{/with}}
        <button type="submit" class="btn btn-primary">Confirmar notas</button>
      </div>
    </div>
  </div>
</form>